openapi: 3.1.0
info:
  title: Obsidian GPT Bridge
  version: 2.0.1
  description: API para salvar notas Markdown no vault do Obsidian via Google Drive API.
servers:
  - url: https://note.thygrowth.com.br
paths:
  /api/health:
    get:
      operationId: healthCheck
      summary: Verifica se a API esta online.
      responses:
        "200":
          description: OK
  /api/notes:
    post:
      operationId: createObsidianNote
      summary: Cria uma nota no Obsidian
      description: Salva um arquivo Markdown dentro da pasta configurada do vault.
      x-openai-isConsequential: true
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNoteRequest"
      responses:
        "201":
          description: Nota criada com sucesso.
        "400":
          description: Payload invalido.
        "401":
          description: Token ausente ou invalido.
        "409":
          description: Ja existe uma nota com o mesmo titulo.
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    CreateNoteRequest:
      type: object
      additionalProperties: false
      required:
        - title
        - markdown
      properties:
        title:
          type: string
          description: Titulo da nota e nome base do arquivo.
        folder:
          type: string
          description: Pasta relativa dentro do vault. Se nao for enviada, a API usa Inbox.
          example: Inbox/Leituras
        source:
          type: string
          description: Fonte da anotacao, como aula, podcast ou artigo.
        tags:
          type: array
          description: Tags para o frontmatter da nota.
          items:
            type: string
        markdown:
          type: string
          description: Conteudo final da nota em Markdown.
        duplicateStrategy:
          type: string
          description: Como lidar com um arquivo ja existente.
          enum:
            - reject
            - suffix
            - overwrite
          default: reject
